---
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 100
PointerAlignment: Left
DerivePointerAlignment: false
ReferenceAlignment: Pointer
SortIncludes: true
IncludeBlocks: Preserve
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
FixNamespaceComments: true
NamespaceIndentation: None
SpaceAfterCStyleCast: true
